.athan-panel {
    font-family: Lotus, Arial, sans-serif;
    font-size: 14px;
    font-weight: bold;
    direction: rtl;
    color: -st-accent-bg-color; /* ? Using system accent foreground color */
}

.athan-label {
    color: -st-accent-bg-color; /* ? Using system accent foreground color */
}

.prefs_s_action:hover {
    color: -st-accent-bg-color; /* ? Using system accent foreground color */
    border: none;
}
